.about {
    width: 100%;
    min-height: 100vh;
}

.about__image img {
    object-fit: contain;
    height: 80%;
    width: 100%;
}

.about_border {
    height: 80%;
    border-left: 5px solid lightgray;
    border-right: 5px solid lightgray;
    border-radius: 4em;
}