.app {
  padding-top: 70px;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* Removes scrollbar */
::-webkit-scrollbar {
  display: none;
}

.home,
.about,
.menu {
  min-height: 55rem;
  padding-top: 10px;
}

.review{
  padding-top: 50px;
  height: 35rem;
}
.service {
  padding-top: 50px;
  height: 55rem;
}

.btn {
  border: 2px solid orange;
  transition: all 0.6s ease;
}

.btn:hover {
  color: orange;
  background: transparent;
}

.btn-2 {
  color: orange;
  border: 2px solid orange;
  transition: all 0.6s ease;
}

.btn-2:hover {
  color: rgb(31 41 55 / var(--tw-bg-opacity));
  background: orange;
}

.btn-3 {
  border: 2px solid orange;
  transition: all 0.6s ease;
}

.btn-3:hover {
  color: orange;
  background: white;
}
